/* =========================
      ROYAL OPENING
=========================== */

.book{
    transition:
    transform 1.8s cubic-bezier(.22,.8,.18,1),
    filter 1.8s ease;
}

.cover{

    transform-origin:left center;

    transition:
    transform 2s cubic-bezier(.22,.8,.18,1),
    box-shadow 2s ease;

    will-change:transform;
}

/* Book Zoom */

.book.open{

    transform:
    scale(1.14)
    translateY(-10px);

    filter:
    drop-shadow(0 60px 90px rgba(0,0,0,.75));
}

/* Leather Cover */

.book.open .cover{

    transform:
    rotateY(-158deg);

    box-shadow:
    -40px 0 60px rgba(0,0,0,.65);
}

/* Page Fade */

.page{

transition:

opacity 1.2s,

transform 1.5s;

}

.book.open .page{

    opacity:1;
      transform:translateX(10px);

}

/* =========================
    LUXURY IDLE
========================= */

.book:not(.open){

animation:bookIdle 5s ease-in-out infinite;

}

@keyframes bookIdle{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-4px);

}

100%{

transform:translateY(0px);

}

}
