.logo-title{

    font-family:'Cinzel', serif;
    font-size:58px;
    font-weight:500;
    letter-spacing:5px;
    color:#C9A66B;
    text-transform:none;
    line-height:1.2;

}

.tagline{

    font-family:'Montserrat', sans-serif;
    font-size:11px;
    font-weight:300;
    letter-spacing:9px;
    text-transform:uppercase;
    color:#A67C52;
    margin-top:10px;

}

body{

    font-family:'Cormorant Garamond', serif;
    font-size:22px;
    line-height:1.8;
    color:#F3EFE7;
    background:#0B0B0B;

}

h2{

    font-family:'Cinzel', serif;
    font-size:42px;
    font-weight:500;
    color:#F3EFE7;
    margin-bottom:30px;

}

p{

    font-family:'Cormorant Garamond', serif;
    font-size:22px;
    line-height:1.9;
    color:#D8D3CB;

}

.quote{

    font-family:'Cormorant Garamond', serif;
    font-style:italic;
    font-size:42px;
    line-height:1.5;
    color:#F3EFE7;

}

.enter-btn{

    font-family:'Montserrat', sans-serif;
    font-size:13px;
    letter-spacing:4px;
    font-weight:500;

    background:#A67C52;
    color:#0B0B0B;

    padding:18px 42px;

    border:none;
    cursor:pointer;

    transition:.8s ease;

}

.enter-btn:hover{

    background:#C9A66B;

}

nav{

    font-family:'Montserrat', sans-serif;
    font-size:13px;
    letter-spacing:3px;
    text-transform:uppercase;

}
