*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    background:#0B0B0B;
    color:#F3EFE7;

    font-family:Georgia,serif;

    overflow:hidden;

}

.hero{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:40px;

}

.logo{

    width:120px;

    margin-bottom:30px;

}

h1{

    font-size:52px;

    font-weight:400;

    letter-spacing:3px;

    margin-bottom:10px;

}

.tagline{

    color:#A67C52;

    letter-spacing:8px;

    font-size:12px;

    margin-bottom:70px;

}

.quote{

    border-left:2px solid #A67C52;

    padding-left:18px;

    text-align:left;

    margin-bottom:70px;

}

.quote p{

    margin:12px 0;

    font-size:20px;

    line-height:1.8;

}

.enter-btn{

    text-decoration:none;

    color:#0B0B0B;

    background:#A67C52;

    padding:18px 48px;

    letter-spacing:3px;

    font-size:12px;

    transition:.8s;

}

.enter-btn:hover{

    background:#C69C6D;

    transform:translateY(-2px);

}
