*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#0B0B0B;
color:#F3EFE7;
font-family:Montserrat,sans-serif;

}

.paper{

max-width:900px;
margin:auto;
padding:80px 25px;

}

header{

text-align:center;
margin-bottom:80px;

}

.roman{

color:#A67C52;
letter-spacing:8px;
font-size:14px;
margin-bottom:20px;

}

h1{

font-family:Cinzel,serif;
font-size:46px;
font-weight:600;
margin-bottom:25px;

}

.subtitle{

font-family:Cinzel,serif;
font-size:22px;
line-height:1.8;

}

.intro{

margin-bottom:70px;

}

.intro p{

line-height:2;
font-size:17px;
color:#d8d1ca;

}

.principles{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;

}

.card{

border:1px solid rgba(166,124,82,.45);

padding:35px;

transition:.6s;

background:rgba(255,255,255,.01);

}

.card:hover{

border-color:#A67C52;

transform:translateY(-5px);

}

.card h2{

font-family:Cinzel,serif;
font-size:22px;
color:#A67C52;

margin-bottom:20px;

}

.card p{

line-height:1.9;

color:#d8d1ca;

}

footer{

margin-top:120px;

padding-top:50px;

border-top:1px solid rgba(166,124,82,.25);

text-align:center;

}


footer p{

font-family:"Cinzel",serif;

font-size:34px;

line-height:1.7;

max-width:700px;

margin:auto;

}


footer span{

display:block;

margin-top:25px;

font-family:"Montserrat",sans-serif;

letter-spacing:5px;

text-transform:uppercase;

color:#A67C52;

font-size:13px;

}

/*=========================================
MANUSCRIPT HEADER
=========================================*/

.page-header{

text-align:center;

margin-bottom:90px;

}


.manuscript-title{

font-family:"Cinzel",serif;

font-size:14px;

letter-spacing:8px;

color:#A67C52;

text-transform:uppercase;

margin-bottom:15px;

}


.page-header h1{

font-family:"Cinzel",serif;

font-size:58px;

font-weight:600;

letter-spacing:4px;

color:#F3EFE7;

margin-bottom:18px;

}


.volume{

font-family:"Montserrat",sans-serif;

letter-spacing:6px;

font-size:13px;

text-transform:uppercase;

color:#b79a73;

}


.divider{

width:140px;

height:1px;

background:#A67C52;

margin:45px auto 0;

}


/*=========================================
CHAPTER TITLE
=========================================*/

.chapter-title{

text-align:center;

margin-bottom:100px;

}


.chapter-title span{

font-family:"Cinzel",serif;

font-size:22px;

color:#A67C52;

display:block;

margin-bottom:18px;

}


.chapter-title h2{

font-family:"Cinzel",serif;

font-size:42px;

font-weight:600;

margin-bottom:35px;

letter-spacing:3px;

}


.chapter-title p{

font-family:"Cinzel",serif;

font-size:28px;

line-height:1.8;

max-width:700px;

margin:auto;

color:#F3EFE7;

}

.institution-divider{

text-align:center;

font-size:18px;

color:#A67C52;

margin:70px 0;

letter-spacing:12px;

}

.card-number{

font-family:"Cinzel",serif;

font-size:18px;

color:#A67C52;

margin-bottom:15px;

letter-spacing:5px;

}

