*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#0B0B0B;
color:#F3EFE7;
font-family:Montserrat,sans-serif;

}

.paper{

max-width:900px;
margin:auto;
padding:80px 25px;

}

header{

text-align:center;
margin-bottom:80px;

}

.roman{

color:#A67C52;
letter-spacing:8px;
font-size:14px;
margin-bottom:20px;

}

h1{

font-family:Cinzel,serif;
font-size:46px;
font-weight:600;
margin-bottom:25px;

}

.subtitle{

font-family:Cinzel,serif;
font-size:22px;
line-height:1.8;

}

.intro{

margin-bottom:70px;

}

.intro p{

line-height:2;
font-size:17px;
color:#d8d1ca;

}

.principles{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;

}

.card{

border:1px solid rgba(166,124,82,.45);

padding:35px;

transition:.6s;

background:rgba(255,255,255,.01);

}

.card:hover{

border-color:#A67C52;

transform:translateY(-5px);

}

.card h2{

font-family:Cinzel,serif;
font-size:22px;
color:#A67C52;

margin-bottom:20px;

}

.card p{

line-height:1.9;

color:#d8d1ca;

}

footer{

margin-top:100px;

padding-top:50px;

border-top:1px solid rgba(166,124,82,.3);

text-align:center;

}

footer p{

font-family:Cinzel,serif;

font-size:28px;

line-height:1.6;

margin-bottom:20px;

}

footer span{

color:#A67C52;

letter-spacing:2px;

}
